<template>
  <div>
    <h1 class="text-center mb-5">My life in weeks</h1>
    <!-- Calendar -->
    <table>
      <thead>
        <tr>
          <th></th>
          <th v-for="week in weekNumbers" :key="week" class="week-number">
            <div>{{ week }}</div>
          </th>
        </tr>
      </thead>
      <!-- Calendar content -->
      <tbody>
        <tr v-for="(year, i) in years" :key="i">
          <th class="year-number">
            {{ year.number }}
          </th>
          <td v-for="(week, j) in year.weeks" :key="j">
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <div
                  :style="{ 'background-color': week.color }"
                  v-bind="attrs"
                  v-on="on"
                />
              </template>
              <span>{{ week.description }}</span>
            </v-tooltip>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Legend -->
    <h3 class="mt-10">Legend</h3>
    <div v-for="(event, i) in legend" :key="i" class="d-flex align-center my-1">
      <div
        class="week-box pa-2 mr-2"
        :style="{ 'background-color': event.color }"
      />
      <div>{{ event.description }}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'BarChart',
  props: {
    data: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      // Date of birth
      birthDate: new Date('1995-08-01'),
      // Number of years to display
      totalYears: 90,
      // Generated data
      years: [],
      // Generated legend
      legend: [],
      // Week numbers: 1 and multiples of 4
      weekNumbers: []
    }
  },
  created() {
    // Writes weeks numbers
    for (let i = 1; i <= 52; ++i) {
      if (i === 1 || i % 4 === 0) {
        this.weekNumbers.push(i)
      } else {
        this.weekNumbers.push(null)
      }
    }

    // Parse dates
    this.data.forEach((event) => {
      if (event.begin) {
        event.begin = new Date(event.begin)
      }
      if (event.end) {
        event.end = new Date(event.end)
      }
    })

    // Generate legend
    this.data.forEach((event) => {
      if (event.description && event.color) {
        this.legend.push({
          description: event.description,
          color: event.color
        })
      }
    })

    // Generate data for table
    let currentYear = 0
    let currentDate = new Date(this.birthDate)
    const nextBirthday = new Date(this.birthDate)
    nextBirthday.setFullYear(nextBirthday.getFullYear() + 1)
    let year = { weeks: [], number: 0 }
    const today = new Date()

    // For each year
    while (currentYear < this.totalYears) {
      const nextDate = new Date(currentDate)
      // Add 7 days
      nextDate.setDate(nextDate.getDate() + 7)
      if (nextDate > nextBirthday) {
        this.years.push(year)
        currentYear++
        nextBirthday.setFullYear(nextBirthday.getFullYear() + 1)

        let yearNum
        if (currentYear % 5 === 0) {
          yearNum = currentYear
        }
        year = { weeks: [], number: yearNum }
      }

      let color
      let description
      this.data.forEach(function(event) {
        if (
          (!event.begin || nextDate >= event.begin) &&
          ((!event.end && currentDate < today) || currentDate < event.end)
        ) {
          color = event.color
          description = event.description
        }
      })

      const week = {
        date: new Date(currentDate),
        color,
        description
      }
      year.weeks.push(week)

      currentDate = nextDate
    }
  },
  methods: {}
}
</script>

<style>
table {
  border-collapse: collapse !important;
  font-size: 14px !important;
  margin: auto !important;
}

td {
  width: 17px !important;
  height: 17px !important;
}

td:nth-child(4n + 1) {
  width: 20px !important;
}

tr:nth-child(5n) {
  height: 20px !important;
}

th {
  height: 17px !important;
  width: 17px !important;
  text-align: center !important;
  position: relative !important;
}

th div {
  position: absolute !important;
}

.year-number {
  width: 30px !important;
  display: flex;
  align-content: center;
  justify-content: flex-end;
  padding-right: 5px;
}

.week-number div {
  top: -5px !important;
  left: -5px !important;
  width: 20px !important;
}

td div {
  border: solid black 1px;
  width: 14px;
  height: 14px;
  border-radius: 20%;
}

.week-box {
  border: solid black 1px;
  width: 14px;
  height: 14px;
  border-radius: 20%;
}
</style>
