.svgINTENTIONNALLYNOTTHESAME {
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
}

.customizer-title {
    text-align: center;
}

.customizer-big-title {
    text-align: center;
  margin-top: -70px;
}


#skate-customizer {
  position: relative;
  margin: auto;
}

#randomizer {
  margin:auto;
  display:block;
  margin-bottom: 5px;
  opacity: 0.6;
}

#randomizer:hover {
  opacity:1;
}

.customizer-button-shape {
  width: 100%;
  opacity: 0.6;
}

.customizer-button-graphic {
  opacity: 0.6;
}

.customizer-button-graphic:hover {
  opacity: 1;
}

.customizer-button-actif {
  opacity: 1 !important;
}

.customizer-button-shape:hover {
  opacity: 1;
}

.all-components {
  -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}

.graphic-color {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  border-radius:50%;
  opacity: 0.7;
  display: inline-block;
}

.graphic-color:hover {
  opacity: 1;
}

.shape-color {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  border-radius:50%;
  opacity: 0.7;
  display: inline-block;
}

.shape-color:hover {
    opacity: 1;
}

.clipClass {
  -webkit-clip-path: circle(50% at 50% 50%);
}

.invisibeul {
opacity: 0;
}

label > input{
 visibility: hidden; 
} 


.color-selector input[type=radio]{
    display:none
}

.color-selector input[type=radio]:checked + .graphic-color{
  border: 2px solid black;

}

.color-selector-2 input[type=radio]{
    display:none
}

.color-selector-2 input[type=radio]:checked + .shape-color{
  border: 2px solid black;
}

.trucks {
  border-width: 2px;
  border-style: solid;
  border-color: rgb(56, 56, 56);
  padding-left: 5px;
  padding-right: 5px;
  font-size: x-large;
  font-weight: 900;
  cursor: default;
  opacity: 0.6;
}

.trucks:hover {
 opacity: 1; 
}