.button {
  background-color: #21365c;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
}
@-webkit-keyframes glowing {
  0% { background-color: #21365c; -webkit-box-shadow: 0 0 3px #21365c; }
  50% { background-color: #365896; -webkit-box-shadow: 0 0 40px #365896; }
  100% { background-color: #21365c; -webkit-box-shadow: 0 0 3px #21365c; }
}

@-moz-keyframes glowing {
  0% { background-color: #21365c; -moz-box-shadow: 0 0 3px #21365c; }
  50% { background-color: #365896; -moz-box-shadow: 0 0 40px #365896; }
  100% { background-color: #21365c; -moz-box-shadow: 0 0 3px #21365c; }
}

@-o-keyframes glowing {
  0% { background-color: #21365c; box-shadow: 0 0 3px #21365c; }
  50% { background-color: #365896; box-shadow: 0 0 40px #365896; }
  100% { background-color: #21365c; box-shadow: 0 0 3px #21365c; }
}

@keyframes glowing {
  0% { background-color: #21365c; box-shadow: 0 0 3px #21365c; }
  50% { background-color: #365896; box-shadow: 0 0 40px #365896; }
  100% { background-color: #21365c; box-shadow: 0 0 3px #21365c; }
}

.button {
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}