<template>
  <v-row v-if="project" class="fill-height">
    <v-col cols="12" md="8" class="white ">
      <v-row justify="end">
        <v-col cols="12" md="10" class="pa-10">
          <v-row class="mb-0">
            <!-- Project Title -->
            <v-col cols="12">
              <h1 class="display-1 font-weight-bold">
                {{ project.title }}
              </h1>
            </v-col>

            <v-col cols="12">
              <v-divider />
            </v-col>

            <v-col cols="12" class="d-flex align-center pt-0 pb-5">
              <span class="text-button">
                {{ project.tagLine }}
              </span>
            </v-col>
          </v-row>

          <!-- Images -->
          <v-carousel
            v-if="project.imgs.length"
            v-model="carouselIdx"
            height="auto"
            progress
            progress-color="black"
            hide-delimiters
          >
            <v-carousel-item v-for="(img, i) in project.imgs" :key="i">
              <v-img
                contain
                :src="'projects/' + project.url + '/' + img.src"
                :aspect-ratio="16 / 9"
                class="rounded-lg mb-5"
              />
            </v-carousel-item>
          </v-carousel>

          <!-- Image caption -->
          <v-col cols="12" class="d-flex justify-center">
            <span class="font-weight-thin font-italic">
              {{ getImgCaption(carouselIdx) }}
            </span>
          </v-col>

          <!-- Project description -->
          <v-col cols="12" class="pt-5 px-0">
            <h2 class="mb-2">Description</h2>
            <p
              v-for="(description, i) in project.description"
              :key="i"
              class="t-justify"
            >
              {{ description }}
            </p>
          </v-col>
        </v-col>
      </v-row>
    </v-col>

    <!-- Project Infos -->
    <v-col cols="12" md="4" class="orange-gradient-bg d-flex ">
      <v-row justify="start">
        <v-col cols="12" md="8" class="pa-10">
          <v-row>
            <!-- Project Title -->
            <v-col cols="12">
              <h1 class="display-1 font-weight-medium white--text">
                Infos
              </h1>
            </v-col>
            <v-col cols="12">
              <v-divider />
            </v-col>
            <UsedTechnologies :project="project" class="mb-4" />
            <Tags :project="project" dark />
            <v-col cols="12">
              <h4 class="mb-2 text-button">Created in</h4>
              <span class="font-weight-medium white--text">
                {{ project.createdIn }}
              </span>
            </v-col>
            <v-col v-if="project.links" cols="12">
              <h4 class="mb-2 text-button">Links</h4>
              <v-btn
                v-for="(link, i) in project.links"
                :key="i"
                :href="link.url"
                large
                rounded
                target="_blank"
                class="mb-2 font-weight-bold"
              >
                <span
                  v-if="link.icon"
                  class="iconify mr-2"
                  :data-icon="link.icon"
                />
                {{ link.title }}
              </v-btn>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
import { mapFields } from 'vuex-map-fields'
import UsedTechnologies from '@/components/projects/UsedTechnologies.vue'
import Tags from '@/components/projects/Tags.vue'

export default {
  name: 'Project',
  components: {
    UsedTechnologies,
    Tags
  },
  validate({ params }) {
    return [
      'hexaspace',
      'omega-women',
      'real-time-object-recognition',
      'tiny-garden',
      'smart-pool',
      'kruze-skateboards',
      'epitech-arcade',
      'epitech-indie-studio',
      'project-week',
      'emtech-hackathon'
    ].includes(params.project_url)
  },
  async fetch({ store, params }) {
    await store.dispatch('projects/getProject', params.project_url)
  },
  data() {
    return {
      carouselIdx: 0,
      imgCaption: ''
    }
  },
  computed: {
    ...mapFields('projects', ['project'])
  },
  methods: {
    getImgCaption(imgIdx) {
      if (this.project.imgs && this.project.imgs[imgIdx].caption) {
        return this.project.imgs[imgIdx].caption
      }
    }
  }
}
</script>
