<template>
  <v-container fluid class="pt-10 pb-12 dark-bg">
    <v-row justify="center">
      <v-col cols="12" sm="10" class="d-flex flex-column pb-5">
        <h1 class="white--text mb-4">PROJECTS</h1>
        <hr class="separator mb-4" />
      </v-col>

      <v-col v-if="projects" cols="12" sm="10">
        <v-row>
          <v-col
            v-for="project in projects"
            :key="project.name"
            cols="12"
            md="6"
            lg="4"
            xl="3"
            class="pa-5"
          >
            <ProjectCard :project="project" />
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapFields } from 'vuex-map-fields'
import ProjectCard from '@/components/projects/ProjectCard.vue'

export default {
  name: 'Projects',
  components: {
    ProjectCard
  },
  computed: {
    ...mapFields('projects', ['projects'])
  }
}
</script>
