<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="fr"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="#212121">
    <link rel="shortcut icon" href="../s/files/1/1797/3955/files/fav_cb2ac748-9fcc-4c8f-85ca-61ff5ab1c741_32x32.png" type="image/png">
  <link rel="canonical" href="https://kruzeskateboards.com/products/cruiser-personnalise">
  <title>
  Cruiser personnalisé &ndash; KRUZE
  </title>
    <meta name="description" content="Caractéristiques techniques: Deck : Longueur : SHARK : 69cm (27&#39;&#39;) // PIKE : 66cm (26&#39;&#39;) // SNAPPER : 60cm (23.6&#39;&#39;) Matériau :  Érable Canadien 7 plis Finition : Vernis polyuréthane résistant aux chocs et UV  Grip : Grip transparent, lessivable. Kicktail : Oui Trucks : Dimensions : 4.25 pouces  Roues Taille : 62 mm  Du">
  <!-- /snippets/social-meta-tags.liquid --><meta property="og:site_name" content="KRUZE">
<meta property="og:url" content="https://kruzeskateboards.com/products/cruiser-personnalise">
<meta property="og:title" content="Cruiser personnalisé">
<meta property="og:type" content="product">
<meta property="og:description" content="Caractéristiques techniques: Deck : Longueur : SHARK : 69cm (27&#39;&#39;) // PIKE : 66cm (26&#39;&#39;) // SNAPPER : 60cm (23.6&#39;&#39;) Matériau :  Érable Canadien 7 plis Finition : Vernis polyuréthane résistant aux chocs et UV  Grip : Grip transparent, lessivable. Kicktail : Oui Trucks : Dimensions : 4.25 pouces  Roues Taille : 62 mm  Du"><meta property="og:price:amount" content="119.00">
  <meta property="og:price:currency" content="EUR"><meta property="og:image" content="http://cdn.shopify.com/s/files/1/1797/3955/products/if_19_1250320_1_1024x1024.png?v=1505569105"><meta property="og:image" content="http://cdn.shopify.com/s/files/1/1797/3955/products/Customized_Logo_1024x1024.png?v=1505569105">
<meta property="og:image:secure_url" content="https://cdn.shopify.com/s/files/1/1797/3955/products/if_19_1250320_1_1024x1024.png?v=1505569105"><meta property="og:image:secure_url" content="https://cdn.shopify.com/s/files/1/1797/3955/products/Customized_Logo_1024x1024.png?v=1505569105">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Cruiser personnalisé">
<meta name="twitter:description" content="Caractéristiques techniques: Deck : Longueur : SHARK : 69cm (27&#39;&#39;) // PIKE : 66cm (26&#39;&#39;) // SNAPPER : 60cm (23.6&#39;&#39;) Matériau :  Érable Canadien 7 plis Finition : Vernis polyuréthane résistant aux chocs et UV  Grip : Grip transparent, lessivable. Kicktail : Oui Trucks : Dimensions : 4.25 pouces  Roues Taille : 62 mm  Du">
  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>
  <link href="../s/files/1/1797/3955/t/2/assets/theme.scss.css" rel="stylesheet" type="text/css" media="all" />
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Unica+One:400,700" rel="stylesheet" type="text/css" media="all" />
  <script>
    window.theme = window.theme || {};
    theme.strings = {
      stockAvailable: "1 restant",
      addToCart: "Ajouter au panier",
      soldOut: "Épuisé",
      unavailable: "Non disponible",
      noStockAvailable: "L\u0026#39;article n\u0026#39;a pu être ajouté à votre panier car il n\u0026#39;y en a pas assez en stock.",
      willNotShipUntil: "Sera expédié après [date]",
      willBeInStockAfter: "Sera en stock à compter de [date]",
      totalCartDiscount: "Vous économisez [savings]"
    };
  </script>
  <!--[if (gt IE 9)|!(IE)]><!--><script src="../s/files/1/1797/3955/t/2/assets/vendor.js" defer="defer"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="../s/files/1/1797/3955/t/2/assets/vendor.js"></script><![endif]-->
    <script>
      window.theme = window.theme || {};
      theme.moneyFormat = "€{{amount}}";
    </script>
  <!--[if (gt IE 9)|!(IE)]><!--><script src="../s/files/1/1797/3955/t/2/assets/theme.js" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="../s/files/1/1797/3955/t/2/assets/theme.js"></script><![endif]-->
  <meta id="shopify-digital-wallet" name="shopify-digital-wallet" content="/17973955/digital_wallets/dialog">
<meta name="shopify-checkout-api-token" content="7a703aba309e8a6355b4699f98215480">
<meta id="in-context-paypal-metadata" data-shop-id="17973955" data-venmo-supported="false" data-environment="production" data-locale="fr_FR" data-paypal-v4="true" data-currency="EUR">
<meta name="predictive-search-unsupported" content="">
<link rel="alternate" type="application/json+oembed" href="https://kruzeskateboards.com/products/cruiser-personnalise.oembed">
<style media="all">.additional-checkout-button{border:0 !important;border-radius:5px !important;display:inline-block;margin:0 0 10px;padding:0 24px !important;max-width:100%;min-width:150px !important;line-height:44px !important;text-align:center !important}.additional-checkout-button+.additional-checkout-button{margin-left:10px}.additional-checkout-button:last-child{margin-bottom:0}.additional-checkout-button span{font-size:14px !important}.additional-checkout-button img{display:inline-block !important;height:1.3em !important;margin:0 !important;vertical-align:middle !important;width:auto !important}@media (max-width: 500px){.additional-checkout-button{display:block;margin-left:0 !important;padding:0 10px !important;width:100%}}.additional-checkout-button--apple-pay{background-color:#000 !important;color:#fff !important;display:none;font-family:-apple-system, Helvetica Neue, sans-serif !important;min-width:150px !important;white-space:nowrap !important}.additional-checkout-button--apple-pay:hover,.additional-checkout-button--apple-pay:active,.additional-checkout-button--apple-pay:visited{color:#fff !important;text-decoration:none !important}.additional-checkout-button--apple-pay .additional-checkout-button__logo{background:-webkit-named-image(apple-pay-logo-white) center center no-repeat !important;background-size:auto 100% !important;display:inline-block !important;vertical-align:middle !important;width:3em !important;height:1.3em !important}@media (max-width: 500px){.additional-checkout-button--apple-pay{display:none}}.additional-checkout-button--google-pay{line-height:0 !important;padding:0 !important;border-radius:unset !important;width:80px !important}@media (max-width: 500px){.additional-checkout-button--google-pay{width:100% !important}}.gpay-iframe{height:44px !important;width:100%  !important;cursor:pointer;vertical-align:middle !important}.additional-checkout-button--paypal-express{background-color:#ffc439 !important}.additional-checkout-button--paypal,.additional-checkout-button--venmo{vertical-align:top;line-height:0 !important;padding:0 !important}.additional-checkout-button--amazon{background-color:#fad676 !important;position:relative !important}.additional-checkout-button--amazon .additional-checkout-button__logo{-webkit-transform:translateY(4px) !important;transform:translateY(4px) !important}.additional-checkout-button--amazon .alt-payment-list-amazon-button-image{max-height:none !important;opacity:0 !important;position:absolute !important;top:0 !important;left:0 !important;width:100% !important;height:100% !important}.additional-checkout-button-visually-hidden{border:0 !important;clip:rect(0, 0, 0, 0) !important;clip:rect(0 0 0 0) !important;width:1px !important;height:1px !important;margin:-2px !important;overflow:hidden !important;padding:0 !important;position:absolute !important}
</style>
<script id="shopify-features" type="application/json">{"accessToken":"7a703aba309e8a6355b4699f98215480","betas":[],"domain":"kruzeskateboards.com","shopId":17973955,"smart_payment_buttons_url":"https:\/\/cdn.shopifycloud.com\/payment-sheet\/assets\/latest\/spb.fr.js","dynamic_checkout_cart_url":"../payment-sheet/assets/latest/dynamic-checkout-cart.fr.js"}</script>
<script>var Shopify = Shopify || {};
Shopify.shop = "kruzeskateboards.myshopify.com";
Shopify.currency = {"active":"EUR","rate":"1.0"};
Shopify.theme = {"name":"venture","id":167216208,"theme_store_id":775,"role":"main"};
Shopify.theme.handle = "null";
Shopify.theme.style = {"id":null,"handle":null};</script>
<script>(function() {
  function asyncLoad() {
    var urls = ["https:\/\/cdn.shopifycloud.com\/messenger_commerce\/assets\/new_message_us?version=1517350999\u0026page_id=1793023197404564\u0026color=compact_white\u0026size=large\u0026position_horizontal=right\u0026position_vertical=bottom\u0026messenger_app_id=1163199097047119\u0026shop=kruzeskateboards.myshopify.com"];
    for (var i = 0; i < urls.length; i++) {
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = urls[i];
      var x = document.getElementsByTagName('script')[0];
      x.parentNode.insertBefore(s, x);
    }
  };
  if(window.attachEvent) {
    window.attachEvent('onload', asyncLoad);
  } else {
    window.addEventListener('load', asyncLoad, false);
  }
})();</script>
<script id="__st">var __st={"a":17973955,"offset":7200,"reqid":"a3b90b78-720c-4a42-9c27-89ba8d5a5fe3","pageurl":"kruzeskateboards.com\/products\/cruiser-personnalise","u":"daca205315e3","p":"product","rtyp":"product","rid":9905800144};</script>
<script>window.ShopifyPaypalV4VisibilityTracking = true;</script>
<script>window.Shopify = window.Shopify || {};
window.Shopify.Checkout = window.Shopify.Checkout || {};
window.Shopify.Checkout.apiHost = "kruzeskateboards.myshopify.com";</script>
<script>window.ShopifyAnalytics = window.ShopifyAnalytics || {};
window.ShopifyAnalytics.meta = window.ShopifyAnalytics.meta || {};
window.ShopifyAnalytics.meta.currency = 'EUR';
var meta = {"product":{"id":9905800144,"vendor":"KRUZE","type":"","variants":[{"id":42252857488,"price":11900,"name":"Cruiser personnalisé","public_title":null,"sku":""}]},"page":{"pageType":"product","resourceType":"product","resourceId":9905800144}};
for (var attr in meta) {
  window.ShopifyAnalytics.meta[attr] = meta[attr];
}</script>
<script>window.ShopifyAnalytics.merchantGoogleAnalytics = function() {
};
</script>
<script class="analytics">(window.gaDevIds=window.gaDevIds||[]).push('BwiEti');
(function () {
  var customDocumentWrite = function(content) {
    var jquery = null;
    if (window.jQuery) {
      jquery = window.jQuery;
    } else if (window.Checkout && window.Checkout.$) {
      jquery = window.Checkout.$;
    }
    if (jquery) {
      jquery('body').append(content);
    }
  };
  var isDuplicatedThankYouPageView = function() {
    return document.cookie.indexOf('loggedConversion=' + window.location.pathname) !== -1;
  }
  var setCookieIfThankYouPage = function() {
    if (window.location.pathname.indexOf('/checkouts') !== -1 &&
        window.location.pathname.indexOf('/thank_you') !== -1) {
      var twoMonthsFromNow = new Date(Date.now());
      twoMonthsFromNow.setMonth(twoMonthsFromNow.getMonth() + 2);
      document.cookie = 'loggedConversion=' + window.location.pathname + '; expires=' + twoMonthsFromNow;
    }
  }
  var trekkie = window.ShopifyAnalytics.lib = window.trekkie = window.trekkie || [];
  if (trekkie.integrations) {
    return;
  }
  trekkie.methods = [
    'identify',
    'page',
    'ready',
    'track',
    'trackForm',
    'trackLink'
  ];
  trekkie.factory = function(method) {
    return function() {
      var args = Array.prototype.slice.call(arguments);
      args.unshift(method);
      trekkie.push(args);
      return trekkie;
    };
  };
  for (var i = 0; i < trekkie.methods.length; i++) {
    var key = trekkie.methods[i];
    trekkie[key] = trekkie.factory(key);
  }
  trekkie.load = function(config) {
    trekkie.config = config;
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.onerror = function(e) {
      (new Image()).src = '//v.shopify.com/internal_errors/track?error=trekkie_load';
    };
    script.async = true;
    script.src = 'https://cdn.shopify.com/s/javascripts/tricorder/trekkie.storefront.min.js?v=2017.09.05.1';
    var first = document.getElementsByTagName('script')[0];
    first.parentNode.insertBefore(script, first);
  };
  trekkie.load(
    {"Trekkie":{"appName":"storefront","development":false,"defaultAttributes":{"shopId":17973955,"isMerchantRequest":null,"themeId":167216208,"themeCityHash":6957800680884706042,"contentLanguage":"fr"}},"Performance":{"navigationTimingApiMeasurementsEnabled":true,"navigationTimingApiMeasurementsSampleRate":0.01},"StorefrontPerformance":{"navigationTimingApiMeasurementsEnabled":true,"navigationTimingApiMeasurementsSampleRate":0.01},"Google Analytics":{"trackingId":"UA-107298603-1","domain":"auto","siteSpeedSampleRate":"10","enhancedEcommerce":true,"doubleClick":true,"includeSearch":true},"Facebook Pixel":{"pixelIds":["272264526635815"],"agent":"plshopify1.2"},"Session Attribution":{}}
  );
  var loaded = false;
  trekkie.ready(function() {
    if (loaded) return;
    loaded = true;
    window.ShopifyAnalytics.lib = window.trekkie;
      ga('require', 'linker');
      function addListener(element, type, callback) {
        if (element.addEventListener) {
          element.addEventListener(type, callback);
        }
        else if (element.attachEvent) {
          element.attachEvent('on' + type, callback);
        }
      }
      function decorate(event) {
        event = event || window.event;
        var target = event.target || event.srcElement;
        if (target && (target.getAttribute('action') || target.getAttribute('href'))) {
          ga(function (tracker) {
            var linkerParam = tracker.get('linkerParam');
            document.cookie = '_shopify_ga=' + linkerParam + '; ' + 'path=/';
          });
        }
      }
      addListener(window, 'load', function(){
        for (var i=0; i < document.forms.length; i++) {
          var action = document.forms[i].getAttribute('action');
          if(action && action.indexOf('/cart') >= 0) {
            addListener(document.forms[i], 'submit', decorate);
          }
        }
        for (var i=0; i < document.links.length; i++) {
          var href = document.links[i].getAttribute('href');
          if(href && href.indexOf('/checkout') >= 0) {
            addListener(document.links[i], 'click', decorate);
          }
        }
      });
    var originalDocumentWrite = document.write;
    document.write = customDocumentWrite;
    try { window.ShopifyAnalytics.merchantGoogleAnalytics.call(this); } catch(error) {};
    document.write = originalDocumentWrite;
    if (!isDuplicatedThankYouPageView()) {
      setCookieIfThankYouPage();
        window.ShopifyAnalytics.lib.page(
          null,
          {"pageType":"product","resourceType":"product","resourceId":9905800144}
        );
        window.ShopifyAnalytics.lib.track(
          "Viewed Product",
          {"currency":"EUR","variantId":42252857488,"productId":9905800144,"name":"Cruiser personnalisé","price":"119.00","sku":"","brand":"KRUZE","variant":null,"category":"","nonInteraction":true}
        );
    }
  });
      var eventsListenerScript = document.createElement('script');
      eventsListenerScript.async = true;
      eventsListenerScript.src = "../s/assets/shop_events_listener-acf771159f9849ef6e5265782c99efe8b99406214c96a4373224ecafe285d7bb.js";
      document.getElementsByTagName('head')[0].appendChild(eventsListenerScript);
})();</script>
<script integrity="sha256-ZGMHgi9G7WU+Z7WiP2suSn84yzoN83sGf9nMWJhVHAw=" defer="defer" src="../s/assets/storefront/express_buttons-646307822f46ed653e67b5a23f6b2e4a7f38cb3a0df37b067fd9cc5898551c0c.js" crossorigin="anonymous"></script>
<script integrity="sha256-1vz1PefnkbjbMWFJNm2DhD0hboMbcB2iqMOeZ46dzmk=" defer="defer" src="../s/assets/storefront/features-d6fcf53de7e791b8db316149366d83843d216e831b701da2a8c39e678e9dce69.js" crossorigin="anonymous"></script>
<script defer="defer" src="../s/assets/themes_support/ga_urchin_forms-99e991855b3d8ddc69e625c68ab0579dd9927b611c2ec4943d396c72e3af0849.js"></script>
</head>
<body class="template-product" >
  <a class="in-page-link visually-hidden skip-link" href="#MainContent">
    Passer au contenu
  </a>
  <div id="shopify-section-header" class="shopify-section"><style>
.site-header__logo img {
  max-width: 450px;
}
</style>
<div id="NavDrawer" class="drawer drawer--left">
  <div class="drawer__inner">
    <form action="../index.html" method="get" class="drawer__search" role="search">
      <input type="search" name="q" placeholder="Recherche" aria-label="Recherche" class="drawer__search-input">
      <button type="submit" class="text-link drawer__search-submit">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-search" viewBox="0 0 32 32"><path fill="#444" d="M21.839 18.771a10.012 10.012 0 0 0 1.57-5.39c0-5.548-4.493-10.048-10.034-10.048-5.548 0-10.041 4.499-10.041 10.048s4.493 10.048 10.034 10.048c2.012 0 3.886-.594 5.456-1.61l.455-.317 7.165 7.165 2.223-2.263-7.158-7.165.33-.468zM18.995 7.767c1.498 1.498 2.322 3.49 2.322 5.608s-.825 4.11-2.322 5.608c-1.498 1.498-3.49 2.322-5.608 2.322s-4.11-.825-5.608-2.322c-1.498-1.498-2.322-3.49-2.322-5.608s.825-4.11 2.322-5.608c1.498-1.498 3.49-2.322 5.608-2.322s4.11.825 5.608 2.322z"/></svg>
        <span class="icon__fallback-text">Recherche</span>
      </button>
    </form>
    <ul class="drawer__nav">
                <li class="drawer__nav-item">
                  <a href="../index.html" class="drawer__nav-link">Accueil</a>
                </li>
                <li class="drawer__nav-item">
                  <a href="../products/cruiser-personnalise.html" class="drawer__nav-link">Customizer</a>
                </li>
          <li class="drawer__nav-item">
            <div class="drawer__nav-has-sublist">
              <a href="../collections.html" class="drawer__nav-link" id="DrawerLabel-collections">Collections</a>
              <div class="drawer__nav-toggle">
                <button type="button" data-aria-controls="DrawerLinklist-collections" class="text-link drawer__nav-toggle-btn drawer__meganav-toggle">
                  <span class="drawer__nav-toggle--open">
                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-plus" viewBox="0 0 22 21"><path d="M12 11.5h9.5v-2H12V0h-2v9.5H.5v2H10V21h2v-9.5z" fill="#000" fill-rule="evenodd"/></svg>
                    <span class="icon__fallback-text">Ouvrir le menu</span>
                  </span>
                  <span class="drawer__nav-toggle--close">
                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-minus" viewBox="0 0 22 3"><path fill="#000" d="M21.5.5v2H.5v-2z" fill-rule="evenodd"/></svg>
                    <span class="icon__fallback-text">Replier le menu</span>
                  </span>
                </button>
              </div>
            </div>
            <div class="meganav meganav--drawer" id="DrawerLinklist-collections" aria-labelledby="DrawerLabel-collections" role="navigation">
              <ul class="meganav__nav">
<div class="grid grid--no-gutters meganav__scroller meganav__scroller--has-list">
    <div class="grid__item meganav__list one-fifth">
        <li>
          <a href="../collections/whale-boards.html" class="meganav__link">Snapper collection</a>
        </li>
        <li>
          <a href="../collections/shark.html" class="meganav__link">Shark Collection</a>
        </li>
        <li>
          <a href="../collections/longfin-boards.html" class="meganav__link">Pike Collection</a>
        </li>
        <li>
          <a href="../products/cruiser-personnalise.html" class="meganav__link meganav__link--active">Cruiser personnalisé</a>
        </li>
        <li>
          <a href="../pages/lequel-choisir.html" class="meganav__link">Quel modèle choisir ? </a>
        </li>
    </div>
</div>
              </ul>
            </div>
          </li>
                <li class="drawer__nav-item">
                  <a href="../collections/all.html" class="drawer__nav-link">Cruisers</a>
                </li>
                <li class="drawer__nav-item">
                  <a href="../pages/qui-sommes-nous.html" class="drawer__nav-link">L'atelier</a>
                </li>
                <li class="drawer__nav-item">
                  <a href="../pages/contact.html" class="drawer__nav-link">Contact</a>
                </li>
          <li class="drawer__nav-item">
            <a href="../index.html" class="drawer__nav-link">
              Compte
            </a>
          </li>
    </ul>
  </div>
</div>
<header class="site-header page-element is-moved-by-drawer" role="banner" data-section-id="header" data-section-type="header">
  <div class="site-header__upper page-width">
    <div class="grid grid--table">
      <div class="grid__item small--one-quarter medium-up--hide">
        <button type="button" class="text-link site-header__link js-drawer-open-left">
          <span class="site-header__menu-toggle--open">
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-hamburger" viewBox="0 0 32 32"><path fill="#444" d="M4.889 14.958h22.222v2.222H4.889v-2.222zM4.889 8.292h22.222v2.222H4.889V8.292zM4.889 21.625h22.222v2.222H4.889v-2.222z"/></svg>
          </span>
          <span class="site-header__menu-toggle--close">
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 32 32"><path fill="#444" d="M25.313 8.55l-1.862-1.862-7.45 7.45-7.45-7.45L6.689 8.55l7.45 7.45-7.45 7.45 1.862 1.862 7.45-7.45 7.45 7.45 1.862-1.862-7.45-7.45z"/></svg>
          </span>
          <span class="icon__fallback-text">Navigation</span>
        </button>
      </div>
      <div class="grid__item small--one-half medium-up--two-thirds small--text-center">
          <div class="site-header__logo h1" itemscope itemtype="http://schema.org/Organization">
            <a href="../index.html" itemprop="url" >KRUZE</a>
          </div>
      </div>
      <div class="grid__item small--one-quarter medium-up--one-third text-right">
        <div id="SiteNavSearchCart">
          <form action="../index.html" method="get" class="site-header__search small--hide" role="search">
            <div class="site-header__search-inner">
              <label for="SiteNavSearch" class="visually-hidden">Recherche</label>
              <input type="search" name="q" id="SiteNavSearch" placeholder="Recherche" aria-label="Recherche" class="site-header__search-input">
            </div>
            <button type="submit" class="text-link site-header__link site-header__search-submit">
              <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-search" viewBox="0 0 32 32"><path fill="#444" d="M21.839 18.771a10.012 10.012 0 0 0 1.57-5.39c0-5.548-4.493-10.048-10.034-10.048-5.548 0-10.041 4.499-10.041 10.048s4.493 10.048 10.034 10.048c2.012 0 3.886-.594 5.456-1.61l.455-.317 7.165 7.165 2.223-2.263-7.158-7.165.33-.468zM18.995 7.767c1.498 1.498 2.322 3.49 2.322 5.608s-.825 4.11-2.322 5.608c-1.498 1.498-3.49 2.322-5.608 2.322s-4.11-.825-5.608-2.322c-1.498-1.498-2.322-3.49-2.322-5.608s.825-4.11 2.322-5.608c1.498-1.498 3.49-2.322 5.608-2.322s4.11.825 5.608 2.322z"/></svg>
              <span class="icon__fallback-text">Recherche</span>
            </button>
          </form>
          <a href="../index.html" class="site-header__link site-header__cart">
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-cart" viewBox="0 0 31 32"><path d="M14.568 25.629c-1.222 0-2.111.889-2.111 2.111 0 1.111 1 2.111 2.111 2.111 1.222 0 2.111-.889 2.111-2.111s-.889-2.111-2.111-2.111zm10.22 0c-1.222 0-2.111.889-2.111 2.111 0 1.111 1 2.111 2.111 2.111 1.222 0 2.111-.889 2.111-2.111s-.889-2.111-2.111-2.111zm2.555-3.777H12.457L7.347 7.078c-.222-.333-.555-.667-1-.667H1.792c-.667 0-1.111.444-1.111 1s.444 1 1.111 1h3.777l5.11 14.885c.111.444.555.666 1 .666h15.663c.555 0 1.111-.444 1.111-1 0-.666-.555-1.111-1.111-1.111zm2.333-11.442l-18.44-1.555h-.111c-.555 0-.777.333-.667.889l3.222 9.22c.222.555.889 1 1.444 1h13.441c.555 0 1.111-.444 1.222-1l.778-7.443c.111-.555-.333-1.111-.889-1.111zm-2 7.443H15.568l-2.333-6.776 15.108 1.222-.666 5.554z"/></svg>
            <span class="icon__fallback-text">Panier</span>
            <span class="site-header__cart-indicator hide"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div id="StickNavWrapper">
    <div id="StickyBar" class="sticky">
      <nav class="nav-bar small--hide" role="navigation" id="StickyNav">
        <div class="page-width">
          <div class="grid grid--table">
            <div class="grid__item four-fifths" id="SiteNavParent">
              <button type="button" class="hide text-link site-nav__link site-nav__link--compressed js-drawer-open-left" id="SiteNavCompressed">
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-hamburger" viewBox="0 0 32 32"><path fill="#444" d="M4.889 14.958h22.222v2.222H4.889v-2.222zM4.889 8.292h22.222v2.222H4.889V8.292zM4.889 21.625h22.222v2.222H4.889v-2.222z"/></svg>
                <span class="site-nav__link-menu-label">Menu</span>
                <span class="icon__fallback-text">Navigation</span>
              </button>
              <ul class="site-nav list--inline" id="SiteNav">
                    <li class="site-nav__item">
                      	<a href="../index.html" class="site-nav__link">Accueil</a>
                    </li>
                    <li class="site-nav__item site-nav--active">
                      	<a href="../products/cruiser-personnalise.html" class="site-nav__link">Customizer</a>
                    </li>
                    <li class="site-nav__item site-nav__item--no-columns" aria-haspopup="true">
                      <a href="../collections.html" class="site-nav__link site-nav__meganav-toggle" id="SiteNavLabel-collections" data-aria-controls="SiteNavLinklist-collections">Collections
                        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow-down" viewBox="0 0 32 32"><path fill="#444" d="M26.984 8.5l1.516 1.617L16 23.5 3.5 10.117 5.008 8.5 16 20.258z"/></svg>
                      </a>
                      <div class="site-nav__dropdown meganav" id="SiteNavLinklist-collections" aria-labelledby="SiteNavLabel-collections" role="navigation">
                        <ul class="meganav__nav page-width">
<div class="grid grid--no-gutters meganav__scroller--has-list">
    <div class="grid__item meganav__list one-fifth">
        <li>
          <a href="../collections/whale-boards.html" class="meganav__link">Snapper collection</a>
        </li>
        <li>
          <a href="../collections/shark.html" class="meganav__link">Shark Collection</a>
        </li>
        <li>
          <a href="../collections/longfin-boards.html" class="meganav__link">Pike Collection</a>
        </li>
        <li>
          <a href="../products/cruiser-personnalise.html" class="meganav__link meganav__link--active">Cruiser personnalisé</a>
        </li>
        <li>
          <a href="../pages/lequel-choisir.html" class="meganav__link">Quel modèle choisir ? </a>
        </li>
    </div>
</div>
                        </ul>
                      </div>
                    </li>
                    <li class="site-nav__item">
                      	<a href="../collections/all.html" class="site-nav__link">Cruisers</a>
                    </li>
                    <li class="site-nav__item">
                      	<a href="../pages/qui-sommes-nous.html" class="site-nav__link">L'atelier</a>
                    </li>
                    <li class="site-nav__item">
                      	<a href="../pages/contact.html" class="site-nav__link">Contact</a>
                    </li>
              </ul>
            </div>
            <div class="grid__item one-fifth text-right">
              <div class="sticky-only" id="StickyNavSearchCart"></div>
                <div class="customer-login-links sticky-hidden">
                    <a href="../index.html" id="customer_login_link">Compte</a>
                </div>
            </div>
          </div>
        </div>
      </nav>
      <div id="NotificationSuccess" class="notification notification--success" aria-hidden="true">
        <div class="page-width notification__inner notification__inner--has-link">
          <a href="../index.html" class="notification__link">
            <span class="notification__message">Article ajouté au panier. <span>Voir le panier et passer à la caisse</span>.</span>
          </a>
          <button type="button" class="text-link notification__close">
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 32 32"><path fill="#444" d="M25.313 8.55l-1.862-1.862-7.45 7.45-7.45-7.45L6.689 8.55l7.45 7.45-7.45 7.45 1.862 1.862 7.45-7.45 7.45 7.45 1.862-1.862-7.45-7.45z"/></svg>
            <span class="icon__fallback-text">Close</span>
          </button>
        </div>
      </div>
      <div id="NotificationError" class="notification notification--error" aria-hidden="true">
        <div class="page-width notification__inner">
          <span class="notification__message notification__message--error" aria-live="assertive" aria-atomic="true"></span>
          <button type="button" class="text-link notification__close">
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 32 32"><path fill="#444" d="M25.313 8.55l-1.862-1.862-7.45 7.45-7.45-7.45L6.689 8.55l7.45 7.45-7.45 7.45 1.862 1.862 7.45-7.45 7.45 7.45 1.862-1.862-7.45-7.45z"/></svg>
            <span class="icon__fallback-text">Close</span>
          </button>
        </div>
      </div>
    </div>
  </div>
    <div id="NotificationPromo" class="notification notification--promo" data-text="livraison-avec-colissimo-gratuite">
      <div class="page-width notification__inner ">
          <span class="notification__message">Livraison avec colissimo GRATUITE</span>
        <button type="button" class="text-link notification__close" id="NotificationPromoClose">
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 32 32"><path fill="#444" d="M25.313 8.55l-1.862-1.862-7.45 7.45-7.45-7.45L6.689 8.55l7.45 7.45-7.45 7.45 1.862 1.862 7.45-7.45 7.45 7.45 1.862-1.862-7.45-7.45z"/></svg>
          <span class="icon__fallback-text">Close</span>
        </button>
      </div>
    </div>
        		<link href="../s/files/1/1797/3955/t/2/assets/glowing.css" rel="stylesheet" type="text/css" media="all" />
</header>
</div>
  <div class="page-container page-element is-moved-by-drawer">
    <main class="main-content" id="MainContent" role="main">
<div id="shopify-section-product-template" class="shopify-section"><div class="page-width" itemscope itemtype="http://schema.org/Product" id="ProductSection-product-template" data-section-id="product-template" data-section-type="product" data-enable-history-state="true" data-ajax="true" data-stock="false">
  <meta itemprop="name" content="Cruiser personnalisé">
  <meta itemprop="url" content="https://kruzeskateboards.com/products/cruiser-personnalise">
  <meta itemprop="image" content="//cdn.shopify.com/s/files/1/1797/3955/products/if_19_1250320_1_600x600.png?v=1505569105">
	   <h1 itemprop="name" class="customizer-title" class="product-single__title" style="margin-top: -33px; font-size: 50px;">Customizer</h1>
        <div id="shopify-section-product-template" class="shopify-section">
            <div class="page-width" itemscope="" itemtype="http://schema.org/Product" id="ProductSection-product-template" data-section-id="product-template" data-section-type="product" data-enable-history-state="true" data-ajax="true" data-stock="false">
        <form action="../index.html" method="post" enctype="multipart/form-data" class="product-form" id="AddToCartForm">
              <div class="grid product-single all-components">
                    <div class="grid__item one-half medium--one-whole small--one-whole">
                        <h3 itemprop="name" class="customizer-title" class="product-single__title" style="Margin-top: -10px; Margin-Bottom: -10px">Deck</h3>
                        <hr>
                        <div class="grid" style="margin-top: -20px;" >
                            <div class="grid__item one-third">
                              	<label>
                              	<input required type="radio" name="properties[Shape]" value="Shark" checked="checked" >
                                <img src="../s/files/1/1797/3955/files/Shark3.png" id="shark" class="customizer-button-shape customizer-button-actif">
                              	</label>
                                <h4 itemprop="name" class="customizer-title">Shark</h4>  
                          </div>
                            <div class="grid__item one-third">
                              	<label>
                              	<input required type="radio" name="properties[Shape]" value="Pike">
                                <img src="../s/files/1/1797/3955/files/pike3.png" id="pike" class="customizer-button-shape">
                          	    </label>
                                <h4 itemprop="name" class="customizer-title">Pike</h4>
                          </div>
                            <div class="grid__item one-third">
                              	<label>
                              	<input required type="radio" name="properties[Shape]" value="Snapper">
                                <img src="../s/files/1/1797/3955/files/snapper3.png" id="snapper" class="customizer-button-shape">
                              	</label>
                                <h4 itemprop="name" class="customizer-title">Snapper</h4>  
                          </div>
                        </div>
                        <br>
                        <div class="grid" style="width: 100%; text-align: center;">
                            <div class="color-selector-2">
                                <input type="radio" name="properties[Couleur Deck]" id="d1" value="Dark Wood" checked="checked">
                                <label class="shape-color" for="d1" id = "ld1" style="background-image: url('../s/files/1/1797/3955/files/Wood_texture_small.jpg')"></label>
                              	<input type="radio" name="properties[Couleur Deck]" id="d3" value="Black">
                                <label class="shape-color" for="d3" id = "ld3" style="background-color: #0C0B10;"></label>
                                <input type="radio" name="properties[Couleur Deck]" id="d4" value="Military Green">
                                <label class="shape-color" for="d4" id = "ld4" style="background-color: #313129;"></label>
                                <input type="radio" name="properties[Couleur Deck]" id="d5" value="Navy Blue">
                                <label class="shape-color" for="d5" id = "ld5" style="background-color: #1E2A49;"></label>
                                <input type="radio" name="properties[Couleur Deck]" id="d6" value="Auburn">
                                <label class="shape-color" for="d6" id = "ld6" style="background-color: #65292b;"></label>
                                <input type="radio" name="properties[Couleur Deck]" id="d7" value="Turquoise">
                                <label class="shape-color" for="d7" id = "ld7" style="background-color: #008ab3;"></label>
                                <input type="radio" name="properties[Couleur Deck]" id="d8" value="Cosmos Blue">
                                <label class="shape-color" for="d8" id = "ld8" style="background-color: #5463C8;"></label>
                                <input type="radio" name="properties[Couleur Deck]" id="d11" value="Orange">
                                <label class="shape-color" for="d11" id = "ld11" style="background-color: #e46723;"></label>
                                <input type="radio" name="properties[Couleur Deck]" id="d9" value="Cream White">
                                <label class="shape-color" for="d9" id = "ld9" style="background-color: #f2e9e6;"></label>
                                <input type="radio" name="properties[Couleur Deck]" id="d10" value="Gold">
                                <label class="shape-color" for="d10" id = "ld10" style="background-color: #C5A36E;"></label>
                              <h4 id ="shape-color-title" itemprop="shape" class="customizer-title">DARK WOOD</h4>  
                             </div>
                        </div>
						<hr>
                        <div class="grid">
                            <h3 itemprop="name" class="customizer-title" class="product-single__title" style="Margin-top: -10px; Margin-Bottom: -10px">Graphique</h3>
                          <hr>
                            <div class="graphic-selector" style="margin-top: -20px; text-align: center;">
                                <br>
                              		<label>
                              			<input required type="radio" name="properties[Graphique]" value="Aucun" checked="checked">
                                  		<img src="../s/files/1/1797/3955/files/empty.png" id="nothing" class="customizer-button-graphic customizer-button-actif" width="60">
                                  	</label>
                              		<label>
                              			<input required type="radio" name="properties[Graphique]" value="Ligne Simple">
                                  		<img src="../s/files/1/1797/3955/files/simple_line_4.png" id="simpleLine" class="customizer-button-graphic" width="60">
                                  	</label>
                              		<label>
                              			<input required type="radio" name="properties[Graphique]" value="Angle central">
                                  		<img src="../s/files/1/1797/3955/files/triangle_2.png" id="triangle" class="customizer-button-graphic" width="60">
                                  	</label>
                              		<label>
                              			<input required type="radio" name="properties[Graphique]" value="Triangle Forward">
                                  		<img src="../s/files/1/1797/3955/files/triangle_forward.png" id="forward" class="customizer-button-graphic" width="60">
                                  	</label>
                              		<label>
                              			<input required type="radio" name="properties[Graphique]" value="Triple Lignes Angle">
                                  		<img src="../s/files/1/1797/3955/files/Triple_Line_Angle_2.png" id="tripleLineAngle" class="customizer-button-graphic" width="60">
                                  	</label>
                              		<label>
                              			<input required type="radio" name="properties[Graphique]" value="Triple Lignes Droit">
                                  		<img src="../s/files/1/1797/3955/files/trpleLineStraight_2.png" id="tripleLineStraight" class="customizer-button-graphic" width="60">
                                  	</label>
                              		<label>
                              			<input required type="radio" name="properties[Graphique]" value="Double Lignes">
                                  		<img src="../s/files/1/1797/3955/files/doubleLine_2.png" id="doubleLine" class="customizer-button-graphic" width="60">
                                  	</label>
                            </div>
                        </div>
                        <br>
                        <div class="grid" style="width: 100%; text-align: center;">
                            <div class="color-selector">
                              	<input type="radio" name="properties[Couleur Graphique]" id="r1" value="Dark Wood">
                                <label class="graphic-color" for="r1" id="lr1" style="background-image: url('../s/files/1/1797/3955/files/Wood_texture_small.jpg')"></label>
                                <input type="radio" name="properties[Couleur Graphique]" id="r3" value="Black">
                                <label class="graphic-color" for="r3" id="lr3" style="background-color: #0C0B10;"></label>
                                <input type="radio" name="properties[Couleur Graphique]" id="r4" value="Military Green">
                                <label class="graphic-color" for="r4" id="lr4" style="background-color: #313129;"></label>
                                <input type="radio" name="properties[Couleur Graphique]" id="r5" value="Navy Blue">
                                <label class="graphic-color" for="r5" id="lr5" style="background-color: #1E2A49;"></label>
                                <input type="radio" name="properties[Couleur Graphique]" id="r6" value="Auburn">
                                <label class="graphic-color" for="r6" id="lr6" style="background-color: #65292b;"></label>
                                <input type="radio" name="properties[Couleur Graphique]" id="r7" value="Turquoise">
                                <label class="graphic-color" for="r7" id="lr7" style="background-color: #008ab3;"></label>
                                <input type="radio" name="properties[Couleur Graphique]" id="r8" value="Cosmos Blue">
                                <label class="graphic-color" for="r8" id="lr8" style="background-color: #5463C8;"></label>
                                <input type="radio" name="properties[Couleur Graphique]" id="r11" value="Orange">
                                <label class="graphic-color" for="r11" id="lr11" style="background-color: #e46723;"></label>
                                <input type="radio" name="properties[Couleur Graphique]" id="r9" value="Cream White">
                                <label class="graphic-color" for="r9" id="lr9" style="background-color: #f2e9e6;"></label>
                                <input type="radio" name="properties[Couleur Graphique]" id="r10" value="Gold">
                                <label class="graphic-color" for="r10" id="lr10" style="background-color: #C5A36E;"></label>
                                <h4 id ="graphic-color-title" itemprop="shape" class="customizer-title">RIEN</h4>  
                            </div>
                        </div>
                        <div class="grid" style="text-align: center;">
                          <hr>
                          <h3 itemprop="name" class="customizer-title" class="product-single__title" style="Margin-top: -10px; Margin-Bottom: -10px">Trucks</h3>
                          <hr>
                       		<div class="grid__item one-half">
                              <label>
                          		<input type="radio" id="trucksChromme" name="properties[TRUCKS]" value="CHROME" checked="checked">
                              	<span id="chrometrucks" class="trucks customizer-button-actif" for="trucksChrome">CHROME</span>
                              </label>
                            </div>
                            <div class="grid__item one-half">
                              <label>
                          		<input type="radio" id="trucksBlack" name="properties[TRUCKS]" value="BLACK">
                              	<span id="blacktrucks" class="trucks" for="trucksBlack">BLACK</span>
                              </label>
                            </div>
                        </div>
                    </div>
                    <div class="grid__item one-half medium--one-whole small--one-whole">
   		<img id="randomizer" src="../s/files/1/1797/3955/files/Dice-2-512.png" width="60">
                                    <div id="skate-customizer">
                                        <svg id="svg" viewBox="0 0 1000 1000">
                                            <defs>
                                                <clipPath id="shape" width="100%" height="100%">
                                                    <path id="skate-shape-front" d="M266,36.8c106.1,45.8,73.4,216.4,122.7,222.5c12.5,144.5,12.5,288.8,0,432.8 c-30.6,9.7-28.9,93.8-36.6,164.7c-6.7,62.2-4.3,105.5-86.2,105c-82.1,3.2-84.1-43.7-89.9-103.8c-6.8-70.5-2-156-36.7-165.9 c-12.2-146.1-12.1-290.4,0-432.8C190.6,253.1,148.4,82.4,266,36.8z" />
                                                    <use xlink:href="#skate-shape-front" transform=" translate(1000, 0) scale(-1, 1)"/>
                                                </clipPath>
                                              	<clipPath id="graphics" width="100%" height="100%">
                                                    <polygon id="graphic1" class="graphic" points="" clip-path="url(#shape)"/>
                                            		<polygon id="graphic2" class="graphic" points="" clip-path="url(#shape)"/>
                                            		<polygon id="graphic3" class="graphic" points="" clip-path="url(#shape)"/>
                                              		<use xlink:href="#graphic1"  transform=" translate(1000, 0) scale(-1, 1)"/>
                                                  	<use xlink:href="#graphic2"  transform=" translate(1000, 0) scale(-1, 1)"/>
                                                  	<use xlink:href="#graphic3"  transform=" translate(1000, 0) scale(-1, 1)"/>
                                              </clipPath>
                                            </defs>
                                          	<image id="mainBackgroundWood" xlink:href="../customizer_assets/Wood_texture_2.jpg" width="1000" height="1000" -webkit-clip-path="url(#shape)" clip-path="url(#shape)"/>
                                            <!-- <img src="customizer_assets/Wood_texture_2.jpg" alt="Shark #02"> -->
                                            <use class="displayed-shape-color" xlink:href="#skate-shape-front" fill="rgba(0,0,0,0)" />
                                          	<use class="displayed-shape-color" xlink:href="#skate-shape-front" fill="rgba(0,0,0,0)" transform=" translate(1000, 0) scale(-1, 1)"/>
											<rect id="PimpMyGraphic" x="0" y="0" width="1000" height="1000" clip-path="url(#graphics)" fill="#000000" style="opacity:0.9"/>
											<image id="woodyBruh" xlink:href="../customizer_assets/shade_shark_cf7654a7-09f3-4bf3-8c8e-83f49805d223.png" width="1000" height="1000" -webkit-clip-path="url(#shape)" clip-path="url(#shape)" style="opacity: 0.6;"/>
                      <image id="wheelsImage" xlink:href="../customizer_assets/wheels_Shark_2.png" width="1000" height="1000" /> 
                      <image id="wheelsBlack" xlink:href="" width = "1000" height="1000"/>
                                      	</svg>
                                    </div>
                                  	<script src="../jquery-3.2.1.min.js"></script>
                                  	<script src="../s/files/1/1797/3955/t/2/assets/customizer.js" type="text/javascript"></script>
									<link href="../s/files/1/1797/3955/t/2/assets/customizer.css" rel="stylesheet" type="text/css" media="all" />
                    </div>
                </div>
            <div class="grid__item one-whole medium--one-whole small--one-whole">
              <!--<h1 itemprop="name"class="product-single__title" style="text-align: center; text-decoration: line-through; font-size: 150%;"> 129.90 € </h1>-->
				<h1 itemprop="name"class="product-single__title" style="text-align: center;">119.00 €</h1>
              	<h4 itemprop="name"class="product-single__title" style="text-align: center;font-size: smaller;">Livraison gratuite</h4>
            </div>
       <!--   <div class="grid__item large--one-third"> -->
      <select name="id" id="ProductSelect-product-template" class="product-form__variants no-js">
              <option  selected="selected"  data-sku="" value="42252857488" >
                  Default Title - €119.00 EUR
              </option>
          </select>
          <div class="product-form__item product-form__item--quantity">
            <label for="Quantity">Quantité</label>
            <input type="number" id="Quantity" name="quantity" value="1" min="1" class="product-form__input product-form__quantity">
          </div>
          <div class="product-form__item product-form__item--submit">
            <button type="submit"
              name="add"
              id="AddToCart-product-template"
              class="btn btn--full  product-form__cart-submit"
              >
              <span id="AddToCartText-product-template">
                  Ajouter au panier
              </span>
            </button>
          </div>
        </form>
        <hr>
        <div class="rte product-single__description" itemprop="description">
          <p><span><strong>Caractéristiques techniques:</strong></span></p>
<p><strong>Deck :</strong></p>
<p>Longueur : SHARK : 69cm (27'') // PIKE : 66cm (26'') // SNAPPER : 60cm (23.6'')</p>
<p>Matériau :  Érable Canadien 7 plis</p>
<p>Finition : Vernis polyuréthane résistant aux chocs et UV </p>
<p>Grip : Grip<span> </span><span>transparent</span>, lessivable.</p>
<p>Kicktail : Oui</p>
<p><strong>Trucks :</strong></p>
<p>Dimensions : 4.25 pouces </p>
<p><strong>Roues</strong></p>
<p>Taille<strong><span> </span>:</strong> 62 mm </p>
<p>Dureté<strong><span> </span> :</strong> 76A </p>
<p>Roulements : ABEC 9</p>
        </div>
          <hr>
          <!-- /snippets/social-sharing.liquid -->
<div class="social-sharing grid medium-up--grid--table">
    <div class="grid__item medium-up--one-third medium-up--text-left">
      <span class="social-sharing__title">Partager</span>
    </div>
  <div class="grid__item medium-up--two-thirds medium-up--text-right">
      <a target="_blank" href="//www.facebook.com/sharer.php?u=https://kruzeskateboards.com/products/cruiser-personnalise" class="social-sharing__link share-facebook" title="Partager sur Facebook">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-facebook" viewBox="0 0 32 32"><path fill="#444" d="M18.222 11.556V8.91c0-1.194.264-1.799 2.118-1.799h2.326V2.667h-3.882c-4.757 0-6.326 2.181-6.326 5.924v2.965H9.333V16h3.125v13.333h5.764V16h3.917l.528-4.444h-4.444z"/></svg>
        <span class="share-title visually-hidden">Partager sur Facebook</span>
      </a>
      <a target="_blank" href="//twitter.com/share?text=Cruiser%20personnalis%C3%A9&amp;url=https://kruzeskateboards.com/products/cruiser-personnalise" class="social-sharing__link share-twitter" title="Tweeter sur Twitter">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-twitter" viewBox="0 0 32 32"><path fill="#444" d="M30.75 6.844c-1.087.481-2.25.806-3.475.956a6.079 6.079 0 0 0 2.663-3.35 12.02 12.02 0 0 1-3.844 1.469A6.044 6.044 0 0 0 21.675 4a6.052 6.052 0 0 0-6.05 6.056c0 .475.05.938.156 1.381A17.147 17.147 0 0 1 3.306 5.106a6.068 6.068 0 0 0 1.881 8.088c-1-.025-1.938-.3-2.75-.756v.075a6.056 6.056 0 0 0 4.856 5.937 6.113 6.113 0 0 1-1.594.212c-.388 0-.769-.038-1.138-.113a6.06 6.06 0 0 0 5.656 4.206 12.132 12.132 0 0 1-8.963 2.507A16.91 16.91 0 0 0 10.516 28c11.144 0 17.231-9.231 17.231-17.238 0-.262-.006-.525-.019-.781a12.325 12.325 0 0 0 3.019-3.138z"/></svg>
        <span class="share-title visually-hidden">Tweeter sur Twitter</span>
      </a>
      <a target="_blank" href="//pinterest.com/pin/create/button/?url=https://kruzeskateboards.com/products/cruiser-personnalise&amp;media=//cdn.shopify.com/s/files/1/1797/3955/products/if_19_1250320_1_1024x1024.png?v=1505569105&amp;description=Cruiser%20personnalis%C3%A9" class="social-sharing__link share-pinterest" title="Épingler sur Pinterest">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-pinterest" viewBox="0 0 32 32"><path fill="#444" d="M16 2C8.269 2 2 8.269 2 16c0 5.731 3.45 10.656 8.381 12.825-.037-.975-.006-2.15.244-3.212l1.8-7.631s-.45-.894-.45-2.213c0-2.075 1.2-3.625 2.7-3.625 1.275 0 1.887.956 1.887 2.1 0 1.281-.819 3.194-1.238 4.969-.35 1.488.744 2.694 2.212 2.694 2.65 0 4.438-3.406 4.438-7.444 0-3.069-2.069-5.362-5.825-5.362-4.244 0-6.894 3.169-6.894 6.706 0 1.219.363 2.081.925 2.744.256.306.294.431.2.781-.069.256-.219.875-.287 1.125-.094.356-.381.481-.7.35-1.956-.8-2.869-2.938-2.869-5.35 0-3.975 3.356-8.744 10.006-8.744 5.344 0 8.863 3.869 8.863 8.019 0 5.494-3.056 9.594-7.556 9.594-1.512 0-2.931-.819-3.419-1.744 0 0-.813 3.225-.988 3.85-.294 1.081-.875 2.156-1.406 3 1.256.369 2.588.575 3.969.575 7.731 0 14-6.269 14-14 .006-7.738-6.262-14.006-13.994-14.006z"/></svg>
        <span class="share-title visually-hidden">Épingler sur Pinterest</span>
      </a>
  </div>
</div>
      </div>
    </div>
</div>
<script>
  // Override default values of shop.strings for each template.
  // Alternate product templates can change values of
  // add to cart button, sold out, and unavailable states here.
  window.productStrings = {
    addToCart: "Ajouter au panier",
    soldOut: "Épuisé",
    unavailable: "Non disponible"
  }
</script>
    </main>
    <div id="shopify-section-footer" class="shopify-section"><footer class="site-footer" role="contentinfo">
  <div class="page-width">
    <div class="flex-footer">
        <div class="flex__item" >
                <div class="site-footer__section">
                  <h4 class="h1 site-footer__section-title">KRUZE</h4>
                  <ul class="site-footer__list">
                      <li class="site-footer__list-item"><a href="../index.html">Livraison</a></li>
                      <li class="site-footer__list-item"><a href="../index.html">Rechercher</a></li>
                  </ul>
                </div>
        </div>
        <div class="flex__item" >
              <div class="site-footer__section">
                  <h4 class="h1 site-footer__section-title text-left">Suivez Nous</h4>
                <ul class="list--inline social-icons text-left">
                    <li>
                      <a href="https://www.facebook.com/KruzeSkateboards/" title="KRUZE sur Facebook">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-facebook" viewBox="0 0 32 32"><path fill="#444" d="M18.222 11.556V8.91c0-1.194.264-1.799 2.118-1.799h2.326V2.667h-3.882c-4.757 0-6.326 2.181-6.326 5.924v2.965H9.333V16h3.125v13.333h5.764V16h3.917l.528-4.444h-4.444z"/></svg>
                        <span class="icon__fallback-text">Facebook</span>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.instagram.com/kruze_skateboards/" title="KRUZE sur Instagram">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-instagram" viewBox="0 0 512 512"><path d="M256 49.5c67.3 0 75.2.3 101.8 1.5 24.6 1.1 37.9 5.2 46.8 8.7 11.8 4.6 20.2 10 29 18.8s14.3 17.2 18.8 29c3.4 8.9 7.6 22.2 8.7 46.8 1.2 26.6 1.5 34.5 1.5 101.8s-.3 75.2-1.5 101.8c-1.1 24.6-5.2 37.9-8.7 46.8-4.6 11.8-10 20.2-18.8 29s-17.2 14.3-29 18.8c-8.9 3.4-22.2 7.6-46.8 8.7-26.6 1.2-34.5 1.5-101.8 1.5s-75.2-.3-101.8-1.5c-24.6-1.1-37.9-5.2-46.8-8.7-11.8-4.6-20.2-10-29-18.8s-14.3-17.2-18.8-29c-3.4-8.9-7.6-22.2-8.7-46.8-1.2-26.6-1.5-34.5-1.5-101.8s.3-75.2 1.5-101.8c1.1-24.6 5.2-37.9 8.7-46.8 4.6-11.8 10-20.2 18.8-29s17.2-14.3 29-18.8c8.9-3.4 22.2-7.6 46.8-8.7 26.6-1.3 34.5-1.5 101.8-1.5m0-45.4c-68.4 0-77 .3-103.9 1.5C125.3 6.8 107 11.1 91 17.3c-16.6 6.4-30.6 15.1-44.6 29.1-14 14-22.6 28.1-29.1 44.6-6.2 16-10.5 34.3-11.7 61.2C4.4 179 4.1 187.6 4.1 256s.3 77 1.5 103.9c1.2 26.8 5.5 45.1 11.7 61.2 6.4 16.6 15.1 30.6 29.1 44.6 14 14 28.1 22.6 44.6 29.1 16 6.2 34.3 10.5 61.2 11.7 26.9 1.2 35.4 1.5 103.9 1.5s77-.3 103.9-1.5c26.8-1.2 45.1-5.5 61.2-11.7 16.6-6.4 30.6-15.1 44.6-29.1 14-14 22.6-28.1 29.1-44.6 6.2-16 10.5-34.3 11.7-61.2 1.2-26.9 1.5-35.4 1.5-103.9s-.3-77-1.5-103.9c-1.2-26.8-5.5-45.1-11.7-61.2-6.4-16.6-15.1-30.6-29.1-44.6-14-14-28.1-22.6-44.6-29.1-16-6.2-34.3-10.5-61.2-11.7-27-1.1-35.6-1.4-104-1.4z"/><path d="M256 126.6c-71.4 0-129.4 57.9-129.4 129.4s58 129.4 129.4 129.4 129.4-58 129.4-129.4-58-129.4-129.4-129.4zm0 213.4c-46.4 0-84-37.6-84-84s37.6-84 84-84 84 37.6 84 84-37.6 84-84 84z"/><circle cx="390.5" cy="121.5" r="30.2"/></svg>
                        <span class="icon__fallback-text">Instagram</span>
                      </a>
                    </li>
                </ul>
              </div>
        </div>
    </div>
  </div>
  <div class="site-footer__copyright">
    <div class="page-width">
      <div class="grid medium-up--grid--table">
        <div class="grid__item medium-up--one-half">
          <small>&copy; 2019 - <a href="../index.html" title="">KRUZE</a> - Made with ♥ in Toulouse, France </small>
        </div>
        <div class="grid__item medium-up--one-half medium-up--text-right">
            <ul class="list--inline payment-icons">
                  <li>
                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-paypal" viewBox="0 0 57 32"><path fill="#444" d="M53.906 11.425h3.219l-2.656 12h-3.188zm-45.375.031q1.469 0 2.484 1.078t.609 2.984q-.375 1.844-1.703 2.891T6.78 19.456H4.311l-.875 3.969H-.002l2.625-11.969h5.906zm30.625 0q1.469 0 2.5 1.078t.625 2.984q-.25 1.219-.953 2.125t-1.719 1.359-2.234.453h-2.438l-.844 3.969h-3.438l2.625-11.969h5.875zm-26.312 3.032q.156-.031.672-.156t.859-.203.906-.156 1.094-.078q.875-.031 1.641.125t1.406.5.906 1.031.047 1.625l-1.313 6.25h-3.156l.219-.938q-.656.656-1.656.938t-1.891.141-1.422-.984-.281-2.219q.344-1.625 1.953-2.328t4.391-.703q.094-.469-.094-.75t-.563-.391-1-.078q-.813.031-1.75.25t-1.25.406zm30.687 0q.188-.031.547-.125t.672-.172.703-.141.813-.109.859-.047q.906-.031 1.672.125t1.406.5.922 1.031.063 1.625l-1.344 6.25h-3.188l.219-.938q-.656.656-1.672.938t-1.922.141-1.438-.984-.281-2.219q.219-1.125 1.094-1.797t2.156-.953 3.156-.281q.156-.719-.266-.984t-1.391-.234q-.563 0-1.219.125t-1.141.266-.734.266zM6.406 17.175q.438 0 .859-.219t.719-.594.391-.844q.188-.688-.156-1.156t-1-.469H5.563l-.75 3.281h1.594zm30.657 0q.656 0 1.25-.484t.75-1.172-.203-1.156-.984-.469h-1.75l-.688 3.281h1.625zm-15.25-3.094l1.281 9.406-2.313 3.938h3.531l7.5-13.344h-3.25l-3.125 5.563-.5-5.563h-3.125zM16.625 20.3q0-.313.156-.844h-.813q-1.469 0-1.875.781-.313.563-.016.938t.859.375q1.375-.063 1.688-1.25zm30.719 0q.063-.531.188-.844h-.781q-1.563 0-1.906.781-.313.563-.016.938t.859.375q1.406-.063 1.656-1.25z"/></svg>
                    <span class="icon__fallback-text">paypal</span>
                  </li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
</div>
  </div>
  <script id="QuantityTemplate" type="text/template">
      <div class="js-qty">
        <input type="text" value="{{ value }}" id="{{ key }}" name="{{ name }}" pattern="[0-9]*" data-line="{{ line }}" class="js-qty__input" aria-live="polite">
        <button type="button" class="js-qty__adjust js-qty__adjust--minus" aria-label="Réduire la quantité de l&#39;article de un">
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-minus" viewBox="0 0 22 3"><path fill="#000" d="M21.5.5v2H.5v-2z" fill-rule="evenodd"/></svg>
          <span class="icon__fallback-text">−</span>
        </button>
        <button type="button" class="js-qty__adjust js-qty__adjust--plus" aria-label="Augmenter la quantité de l&#39;article de un">
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-plus" viewBox="0 0 22 21"><path d="M12 11.5h9.5v-2H12V0h-2v9.5H.5v2H10V21h2v-9.5z" fill="#000" fill-rule="evenodd"/></svg>
          <span class="icon__fallback-text">+</span>
        </button>
      </div>
  </script>
    <div id="ProductModal" class="modal">
      <div class="modal__inner">
        <img src="" id="ProductZoomImg" class="product-modal__image">
      </div>
      <button type="button" class="modal__close js-modal-close text-link">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 32 32"><path fill="#444" d="M25.313 8.55l-1.862-1.862-7.45 7.45-7.45-7.45L6.689 8.55l7.45 7.45-7.45 7.45 1.862 1.862 7.45-7.45 7.45 7.45 1.862-1.862-7.45-7.45z"/></svg>
        <span class="icon__fallback-text">"Fermer (Esc)"</span>
      </button>
    </div>
</body>
</html>
