<template>
  <v-footer dark padless class="black">
    <v-col class="text-center" cols="12">
      2022 — Quentin Camboulives - quentin.camboulives@hotmail.fr
    </v-col>
  </v-footer>
</template>

<script>
export default {
  name: 'Footer',
  data() {
    return {
      links: [
        {
          title: 'About me',
          to: '/'
        },
        {
          title: 'Projects',
          to: '/projects'
        }
      ]
    }
  }
}
</script>

<style lang="css" scoped>
.tabs-width {
  max-width: 800px;
}

.qc-width {
  width: 10.5%;
}
</style>
