<template>
  <div>
    <!-- Top menu -->
    <v-app-bar app dark flat inset class="black">
      <v-app-bar-nav-icon large class="d-sm-none" @click="drawer = true" />
      <span class="display-1 mr-14">
        Q.C.
      </span>
      <v-tabs grow centered class="d-none d-sm-flex">
        <v-tab
          v-for="(link, index) in links"
          :key="index"
          :to="link.to"
          :href="link.href"
          :target="link.href ? '_blank' : undefined"
        >
          {{ link.title }}
        </v-tab>
      </v-tabs>
      <v-spacer />
      <v-btn
        icon
        href="https://fr.linkedin.com/in/quentin-camboulives-158143162"
        target="_blank"
      >
        <v-icon>mdi-linkedin</v-icon>
      </v-btn>
    </v-app-bar>

    <!-- Mobile menu -->
    <v-navigation-drawer
      v-model="drawer"
      app
      dark
      temporary
      clipped
      class="black"
    >
      <v-list nav>
        <v-list-item-group>
          <v-list-item
            v-for="(link, index) in links"
            :key="index"
            :to="link.to"
            :href="link.href"
            :target="link.href ? '_blank' : undefined"
          >
            <v-list-item-title @click="tab = index">
              {{ link.title }}
            </v-list-item-title>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script>
import { mapFields } from 'vuex-map-fields'

export default {
  name: 'Menu',
  data() {
    return {
      links: [
        {
          title: 'About me',
          to: '/',
          href: undefined
        },
        {
          title: 'Projects',
          to: '/projects',
          href: undefined
        }
      ]
    }
  },
  computed: {
    ...mapFields('app', ['drawer'])
  }
}
</script>

<style lang="css" scoped>
.v-navigation-drawer--temporary.v-navigation-drawer--clipped {
  z-index: 4;
  padding-top: 64px;
}
</style>
