// -------------------- GENERAL COLORS --------------------
.light-bg {
  background-color: #f6f6f6;
}

.grey-bg {
  background-color: #EBEBEB !important;
}

.dark-bg {
  background-color: #151719 !important;
}

.dark-bg-lighten {
  background-color: #26282D !important;
}

.orange-gradient-bg {
  background: #ff512f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #f09819,
    #ff512f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #f09819,
    #ff512f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.green-gradient-bg {
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

// -------------------- HELPERS --------------------
.debug {
  border: 1px solid red !important;
}

.h100 {
  height: 100% !important;
}

.t-justify {
  text-align: justify !important;
  text-justify: inter-word !important;
}

.separator {
  width: 75px;
  height: 4px;
  background-color: white;
}

.iconify {
  width: 20px;
  height: 20px;
}

// -------------------- TO DELETE --------------------
.main-bg-color {
  background-color: #161f32;
}

.neon-orange-bg {
  background-color: #fe7421 !important;
}

.neo-orange-bg {
  background-color: #fea733 !important;
}
