// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$heading-font-family: 'Red Hat Display';
$body-font-family: 'Red Hat Display';
$font-size-root: 16px;
$rounded: (
  'lg': 20px
);

@import '~vuetify/src/styles/styles.sass';
