<template>
  <v-app>
    <!-- Menu -->
    <Menu />

    <!-- Main Content -->
    <v-main class="dark-bg">
      <v-container fluid class="pa-0 fill-height">
        <nuxt />
      </v-container>
    </v-main>

    <!-- Footer -->
    <Footer />
  </v-app>
</template>

<script>
import { mapFields } from 'vuex-map-fields'
import Menu from '@/components/Menu.vue'
import Footer from '@/components/Footer.vue'

export default {
  name: 'DefaultLayout',
  components: {
    Menu,
    Footer
  },
  data() {
    return {
      links: [
        {
          title: 'About me',
          to: '/',
          href: undefined
        },
        {
          title: 'Projects',
          to: '/projects',
          href: undefined
        }
      ]
    }
  },
  computed: {
    ...mapFields('app', ['drawer'])
  }
}
</script>
