<template>
  <v-container class="white--text fill-height">
    <v-row>
      <v-col cols="12" class="d-flex justify-center">
        <span class="title-404 font-weight-bold">404</span>
      </v-col>
      <v-col cols="12" class="d-flex justify-center">
        <span class="subtitle-404">PAGE NOT FOUND</span>
      </v-col>
      <v-col cols="12" class="d-flex justify-center">
        <v-btn large rounded color="orange-gradient-bg" dark to="/">
          Return to homepage
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  layout: 'PageNotFound',
  props: {
    error: {
      type: Object,
      default: null
    }
  }
}
</script>

<style scoped>
.title-404 {
  color: #fff;
  font-size: 12em;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}
.subtitle-404 {
  font-size: 3em;
}
</style>
