<template>
  <v-container class="white">
    <h1>Some Feedbacks</h1>
    <v-timeline :reverse="reverse" dense>
      <v-timeline-item v-for="n in 2" :key="n">
        <span slot="opposite">Tus eu perfecto</span>
        <v-card class="elevation-2">
          <v-card-title class="text-h5">
            Lorem ipsum
          </v-card-title>
          <v-card-text>
            Lorem ipsum dolor sit amet, no nam oblique veritus. Commune scaevola imperdiet nec ut, sed euismod convenire principes at. Est et nobis iisque percipit, an vim zril disputando voluptatibus, vix an salutandi sententiae.
          </v-card-text>
        </v-card>
      </v-timeline-item>
    </v-timeline>
  </v-container>
</template>

<script>
export default {
  name: 'Feedbacks',
  components: {},
  data() {
    return {
      life: [
        {
          begin: '2001-09-01',
          end: '2006-06-31',
          color: '#00EAD3',
          description: 'Primaire - Martres Tolosane',
        },
        {
          begin: '2006-09-01',
          end: '2009-06-31',
          color: '#FF449F',
          description: '6ème / 5ème / 4ème (Collège - Cazères)',
        },
        {
          begin: '2009-09-01',
          end: '2010-06-31',
          color: '#F7FD04',
          description: '3ème (Collège - Castelginest)',
        },
        {
          begin: '2010-09-01',
          end: '2011-06-31',
          color: '#3EDBF0',
          description: 'Seconde générale (Lycée) - Vic En Bigorre',
        },
        {
          begin: '2011-09-01',
          end: '2013-06-31',
          color: '#F9B208',
          description: 'Première / Terminale (Lycée Saint Pierre) - Tarbes',
        },
        {
          begin: '2013-09-01',
          end: '2015-06-31',
          color: '#9EDE73',
          description: 'BTS SIO',
        },
        {
          begin: '2015-09-01',
          end: '2020-09-01',
          color: '#0066AE',
          description: 'Master Epitech',
        },
        {
          begin: '2018-09-01',
          end: '2019-07-31',
          color: '#F00101',
          description: '4ème année de Master à Harbin en Chine',
        },
        {
          begin: '2019-09-30',
          color: '#A12CFF',
          description: 'CDI Accenture',
        },
      ],
    }
  },
}
</script>
