<template>
  <v-container class="pa-5">
    <v-row class="pt-5">
      <v-col cols="12" md="8" class="d-flex flex-column justify-center">
        <h1 class="white--text mb-5">
          Hi, I'm Quentin Camboulives.
        </h1>
        <hr class="separator mb-5" />
        <p>
          I am curious by nature, and I like to understand how things work. My
          childhood bedroom filled with disassembled and repaired electrical
          circuits is a testimony to this. At the age of 10, I discovered the
          power of the computer. That's when I knew that one day I would create
          something big from this incredible tool. So I continued to discover
          and understand computers. I did a few test projects (which you can
          find here) that validated the fact that I wanted to use technology to
          make a positive impact on the world.
        </p>
      </v-col>
      <v-col cols="12" md="4" class="d-flex align-center justify-center">
        <v-img
          src="img/quentin.jpg"
          min-width="200"
          max-width="300"
          class="rounded-lg"
        />
      </v-col>
    </v-row>

    <v-row justify="center">
      <v-col cols="12">
        <p>
          Since then, I've been learning about new technologies and
          entrepreneurship on my own. I've been using multiple resources to gain
          as much knowledge as possible. From books to videos, podcasts, online
          trainings or conferences, I love to learn and discover to optimize my
          creations.
        </p>
        <p>
          After high school, I naturally continued my studies in computer
          science. I joined one of the prestigious schools in this field:
          Epitech. The project-based learning method allowed me to optimize the
          project management process and to increase my technical skills.
          Passionate about challenges and innovation, I have done several
          national hackathons and I won 2 with my team. These experiences
          allowed me to solve a problem quickly while taking into account
          budgetary, temporal and technological constraints.
        </p>
        <p>
          During my internship, I joined Accenture, a global company specialized
          in the digital, cloud and security fields. In 3 years, I had the
          chance to work on different subjects that allowed me to increase my
          technical skills. As a Full Stack Engineer and mastering a wide range
          of technologies (DevOps, CI / CD, Cloud, Agile Methods, Nuxt.js,
          Vue.js, Angular, React, JavaScript, Python, etc...), I decided to
          focus on Web3 and blockchain.
        </p>
        <p>
          The power of the technology and the infinite possibilities immediately
          fascinated me. For the past 4 years, I've been training myself with a
          single objective, to create the first metaverse accessible to everyone
          that will revolutionize the way communities around the world interact.
          Today I master the blockchain and the development of 3D universes:
          Smart Contracts, Building a 3D Threejs engine, Building API, 3D
          modeling with Blender, Cloud computing...
        </p>
        <p>
          I started by creating a first collection of NFTs,
          <a
            href="https://omega-women.art/"
            target="_blank"
            class="font-weight-bold"
          >
            OMEGA WOMEN</a
          >, which uses Web3 to encourage women to empower their lives. This
          project perfectly illustrates the technological possibilities of NFTs
          and the power of building Web3 communities.
        </p>
        <p>
          So I continued in this direction by building something even bigger and
          more impactful:
          <a
            href="https://hexaspace.io/"
            target="_blank"
            class="font-weight-bold"
          >
            HexaSpace Metaverse</a
          >. HexaSpace is a decentralized virtual world that allows users to
          create, monetize and enjoy immersive experiences together. Our mission
          is to connect worldwide communities through immersive experiences by
          facilitating access to the metaverse and encouraging creativity.
        </p>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'HomePage'
}
</script>

<style lang="css" scoped>
p {
  font-size: 18px;
  text-align: justify;
  color: white;
}
a {
  color: white !important;
  text-decoration: underline;
}
</style>
