<template>
  <v-container>
    <v-row>
      <v-col cols="12" md="2" class="d-flex justify-center align-center">
        <a
          href="https://www.credential.net/eebc85a9-5a6a-4552-99d5-6fb168421526"
          target="_blank"
        >
          <v-img
            src="img/associate-cloud-engineer.png"
            max-width="150"
            class="rounded-circle"
          />
        </a>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'SkillsPage'
}
</script>

<style lang="scss" scoped></style>
