<template>
  <v-card
    :to="/projects/ + project.url"
    elevation="24"
    width="100%"
    height="100%"
    class="rounded-lg dark-bg-lighten"
  >
    <div class="h1">
      <v-row>
        <v-col cols="12">
          <v-img
            :src="'projects/' + project.url + '/' + project.imgs[0].src"
            :aspect-ratio="16 / 9"
            width="94%"
            class="mx-auto rounded-lg"
          />
        </v-col>
      </v-row>

      <v-card-title class="white--text font-weight-bold">
        {{ project.title }}
        <v-spacer />
        <span class="grey-text">{{ project.createdIn }}</span>
      </v-card-title>
      <v-card-text class="grey-text-lighten project-description">
        <span>{{ project.tagLine }}</span>
      </v-card-text>

      <v-divider dark class="mx-4" />

      <div class="project-tags">
        <Tags :project="project" dark x-small hide-label />
      </div>
    </div>
  </v-card>
</template>

<script>
import Tags from '@/components/projects/Tags.vue'

export default {
  name: 'ProjectCard',
  components: {
    Tags
  },
  props: {
    project: {
      type: Object,
      default: () => {}
    }
  }
}
</script>

<style>
.project-description {
  min-height: 70px;
}
.project-tags {
  min-height: 80px;
}
.grey-text {
  color: #686e78;
  font-weight: 100;
}
.grey-text-lighten {
  color: #a9abb3;
}

.visible-border {
  border: 1px solid black;
}
</style>
