<template>
  <v-col v-if="project.tags.length" cols="12">
    <h4 v-if="!hideLabel" class="mb-2 text-button">Tags</h4>
    <v-row>
      <v-col cols="12">
        <v-chip
          v-for="tag in project.tags"
          :key="tag"
          :dark="dark"
          :small="small"
          :x-small="xSmall"
          class="mr-2 mb-2"
          label
          outlined
        >
          {{ tag }}
        </v-chip>
      </v-col>
    </v-row>
  </v-col>
</template>

<script>
export default {
  name: 'Tags',
  props: {
    project: {
      type: Object,
      default: () => {}
    },
    small: {
      type: Boolean,
      default: false
    },
    dark: {
      type: Boolean,
      default: false
    },
    xSmall: {
      type: Boolean,
      default: false
    },
    hideLabel: {
      type: Boolean,
      default: false
    }
  }
}
</script>
