<template>
  <v-col v-if="project.technos.length" cols="12">
    <h4 class="mb-4 text-button">Technologies</h4>
    <v-row>
      <v-col cols="12">
        <v-chip
          v-for="techno in project.technos"
          :key="techno"
          dark
          label
          outlined
          class="mr-2 mb-2"
        >
          <Icon class="iconify mr-2" :icon="getIcon(techno)"/>
          {{ techno }}
        </v-chip>
      </v-col>
    </v-row>
  </v-col>
</template>

<script>
import { Icon } from '@iconify/vue2';

export default {
  name: 'UsedTechnologies',
  components: {
    Icon
  },
  props: {
    project: {
      type: Object,
      default: () => {}
    }
  },
  methods: {
    getIcon(techno) {
      switch (techno) {
        case 'HTML5':
          return 'vscode-icons:file-type-html'
        case 'CSS3':
          return 'vscode-icons:file-type-css'
        case 'Javascript':
          return 'logos:javascript'
        case 'jQuery':
          return 'simple-icons:jquery'
        case 'Node.js':
          return 'logos:nodejs-icon'
        case 'Express':
          return 'simple-icons:express'
        case 'Python':
          return 'logos:python'
        case 'Shopify':
          return 'logos:shopify'
        case 'MongoDB':
          return 'simple-icons:mongodb'
        case 'C++':
          return 'logos:c-plusplus'
        case 'TensorFlow':
          return 'logos:tensorflow'
        case 'Angular':
          return 'logos:angular-icon'
        case 'Threejs':
          return 'logos:threejs'
        case 'Nuxt.js':
          return 'logos:nuxt-icon'
        case 'Vue.js':
          return 'logos:vue'
        case 'Socket.io':
          return 'logos:socket-io'
        case 'Solidity':
          return 'logos:solidity'
      }
    }
  }
}
</script>
